.rating {
  display: flex;
  gap: 10px;
}

.star {
  font-size: 30px;
  color: #e3e3e3;
  line-height: 1;
}

.star-filled {
  color: #ff6060;
}

@media (max-width: 768px) {
  .rating {
    gap: 6px;
  }

  .star {
    font-size: 16px;
  }
}
